.heading {
    color: rgb(241, 127, 6);
    background-color: rgb(15, 2, 70);
}
body {
    background-color: pink;
}

#my-id {
    background-color: rgb(184, 129, 173);
    color:rgb(168, 94, 237);
}